In [54]:
import pandas as pd
df = pd.read_csv('Terrorism Project - Raw Data.csv')
df = df[df['Incident Country'] == 'China']
df = df[['Article Title', 'Report Year', 'Incident City', 'Confirmed Death(s)']]
df = df.dropna()
df.head()

,Article Title,Report Year,Incident City,Confirmed Death(s)
1,Terrorism in Nanwei: Sufferes Represenattive,1947.0,UNK,0
2,"Terrorism, Economic Chaos Make Kumming's Unhap...",1947.0,Kumming,4
4,Terroritsts Attack Review Editor Following Ant...,1941.0,Nanking,0
6,Terrorists Kill Japanese Civilian Sailor; U.S....,1941.0,Nantao,0
8,Emigrants' Committee Condemns Terrorism,1941.0,Shanghai,3

In [55]:
incidents = df.groupby(['Report Year']).agg(['count'])
incidents = incidents['Article Title']
incidents.columns = ['Incidents']
incidents

             Incidents
Report Year
1938.0              16
1939.0              38
1940.0              19
1941.0              50
1947.0               2

In [57]:
deaths = df.copy()
deaths = deaths[~deaths['Confirmed Death(s)'].astype(str).str.contains('(Non-Unique)')]
deaths['Confirmed Death(s)'] = deaths['Confirmed Death(s)'].apply(pd.to_numeric)
deaths = deaths[['Report Year', 'Incident City', 'Confirmed Death(s)']]
deaths.groupby(['Report Year', 'Incident City']).sum()

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  from ipykernel import kernelapp as app

                           Confirmed Death(s)
Report Year Incident City
1938.0      Shanghai                       17
1939.0      Amoy                            0
            Hong Kong                       3
            Shanghai                       19
            Tianjin                         1
1940.0      Shanghai                        7
1941.0      Hangzhou                        0
            Nanking                         0
            Nantao                          0
            Shanghai                       40
1947.0      Kumming                         4
            UNK                             0

In [ ]:
raw_data = {
        'Year': ['1938', '1938', '1938', '1938', '1938', '1938', '1938', '1938', '1938'],
        'Latitude':  [31.192552, 31.292552, 31.192552, 31.092552, 31.192552, 31.292552, 31.092552,
                      31.292552, 31.092552], 
        'Longitude': [121.501759, 121.501759, 121.601759, 121.501759, 121.401759, 121.601759, 121.401759,
                      121.401759, 121.601759]}
df_a = pd.DataFrame(raw_data, columns = ['subject_id', 'first_name', 'last_name'])
df_a